@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    text-align: center;
}

.btn {
    border-style: none;
    padding: 10px 20px;
    background-color: #000 ;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.social-media-links {
    display: flex;
}

.social-media-links a{
    width: 2rem;
    margin: auto 20px;
}

.profile {
    background-color: #fff;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.about-me {
    background-color: #56BBF1;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.about-me p{
     width: 70%;
}

.about-me-btn button {
    margin: 0 3rem;
}

@media screen and (max-width:600px) {
    body {
        flex-direction: column;
        height: 100vh;
    }

    .profile {
        width: 100%;
        height: 50%;
    }

    .about-me {
        width: 100%;
        height: 50%;
    }

    .profile img {
        width: 30%;
    }

    .social-media-links a{
        width: 4rem;
        margin: 0;
    }
}