@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;900&display=swap');

*{
    margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: #000;
    color: #fff;
}

header {
    display: grid;
    place-content: center;
    
    background-size: cover;
    height: 100vh;
}

.big-heading {
    pointer-events: none;
    background: linear-gradient(30deg, rgb(11, 128, 182), rgb(233, 86, 86)) no-repeat center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem;
}

.introduction h1, p {
    pointer-events: none;
    background: linear-gradient(30deg, rgb(11, 128, 182), rgb(233, 86, 86)) no-repeat center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem;
}

.introduction p {
    font-size: 2rem;
}

#projects {
    display: grid;
    place-content: center;
    text-align: center;
    height: 100vh;
    opacity: 0;
}

.project-heading {
    margin: 0 0 80px;
    color: rgb(11, 128, 182);
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    min-height: 150px;
    margin: 0 auto;
    gap: 0.5rem;
    list-style: none;
}

.project-btn {
    text-decoration: none;
    background-color: #3E2C41;
    color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
}

.project-btn:hover {
    box-shadow: 0 0 4px 4px rgb(11, 128, 182);
}

footer {
    height: 100vh;
    display: grid;
    place-content: center;
    gap: 20px;
}

.social-media-icons {
    display: flex;
    list-style: none;
    justify-content: center;  
}

.social-media-icon {
    color: transparent;
    background: linear-gradient(30deg, rgb(11, 128, 182), rgb(233, 86, 86)) no-repeat center;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 10px;
}