body, html{
    margin: 0;
    height: 100%;
}

body{
    background-color: rgb(4, 1, 12);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

.big-heading{
    font-weight: 900;
}

    /* Navigation Bar */

.my-navbar {
    position: fixed;
}

.github-profile-btn{
    
}

    /* Home Section */

#home {
    text-align: center;
    padding: 14% 15%;
}

.home-content {
    font-family: 'Noto Sans Mono', monospace;
}

#profile-picture {
    border-radius: 100%;
}


    /* Project Section */

#projects {
    padding: 5%;
    background-color: #fff;
}

.carousel-item {
    padding: 5% 0;
    text-align: center;
}

.carousel-btn {
    display: block;
    margin: 2% auto;
}

.project-img {
    width: 800px;
    height: 400px;
    object-fit: scale-down;
    border: 2px black solid;
}

    /* ContactMe Section */

#contact-me {
    padding: 14% 15%;
   text-align: center;
}

.link-icon {
    margin: 0 20px;
}

.bottom-heading {
    margin: 0 0 50px;
}