body, html{
    margin: 0;
    height: 100%;
}

body{
    background-color: rgb(4, 1, 12);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat';
}

.big-heading{
    font-weight: 900;
}

    /* Navigation Bar */

.my-navbar {
    position: fixed;
}

    /* Home Section */

#home {
    text-align: center;
    padding: 14% 15%;
}

.home-content {
    font-family: 'ubuntu';
}

#profile-picture {
    border-radius: 100%;
}


    /* Project Section */



    /* ContactMe Section */